body {
    font-family: Arial, Helvetica, sans-serif;
}

#player {
    margin-top: 50px;
    margin-left: 10%;
    border: 6px;
    border-color: rgb(50, 145, 196);
    border-style: solid;
}

#logo {
    margin-top: 20px;
    margin-left: 10px;
}

.header {
    background-color: rgb(50, 145, 196);
    height: 35px;
    width: 100%;
    border-style: solid;
    border-color: rgb(50, 145, 196);
}

.searchBar {
    margin-left: 10px;
}